<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haotian.development.demo.dao.DemoTestMapper">

   <insert id="insertDemoTest" parameterType="DemoTestEntity" >
      insert into demo_test(id) value(#{id,jdbcType=CHAR})
   </insert>

</mapper>